.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/
.netrc
.sourcekit-lsp/
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
/blend-output.*
/DevDocs/

# Swift Package Manager
Package.resolved

# Build directories
**/.build/
