.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/
.netrc
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
/blend-output.*
/DevDocs/

# Example build folders
Examples/AdvancedNetworking/.build/
Examples/BasicNetworking/.build/
Examples/ErrorHandling/.build/
Examples/ImageOperations/.build/
Examples/Shared/.build/
Examples/SwiftUIIntegration/.build/